<head>
    {% include meta.html %}
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css">
    <script src="https://kit.fontawesome.com/6a97161b76.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% if site.favicon-url %}{{site.favicon-url}}{% else %}{{ 'assets/images/logo.png' }}{% endif %}" type="image/x-icon">
    <!-- VISA Tracking Code for jonasb.at --><script>(function(v,i,s,a){if(!v._visaSettings){v._visaSettings={};}v._visaSettings["61655f82-7abc-11eb-b589-901b0edac50a"]={v:"0.3",s:"61655f82-7abc-11eb-b589-901b0edac50a",a:"1"};_v=i.getElementsByTagName("head")[0];_a=_v;_i=i.createElement("script");_s=_i;_s.defer="defer";_s.src=s+a+v._visaSettings["61655f82-7abc-11eb-b589-901b0edac50a"].v;_a.appendChild(_s);})(window,document,"//app-worker.visitor-analytics.io/main",".js?s=61655f82-7abc-11eb-b589-901b0edac50a&v=")</script><!-- VISA Tracking Code for jonasb.at -->
</head>